body {
  margin: 0 auto;
  max-width: 1440px;
}

.page {
  width: 100%;
  color: #000;
  background-image: url(./images/Image.jpg);
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 108px 176px 190px;
  padding-top: 56px;
}

@media screen and (max-width: 1170px) {
  .header__nav {
    margin-left: 90px;
    margin-right: 0;
  }
}

@media screen and (max-width: 1023px) {
  .header__nav {
    margin-left: 99px;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .header__nav {
    margin-left: 20px;
    margin-bottom: 100px;
    align-items: flex-start;
  }
}

.header__links {
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__links {
    flex-direction: column;
  }
}

.header__link {
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  margin-right: 82px;
}

@media screen and (max-width: 768px) {
  .header__link:last-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 860px) {
  .header__link {
    margin-right: 30px;
  }
}

.header__link:hover {
  opacity: 0.6;
}

.hero {
  margin-left: 190px;
}

@media screen and (max-width: 1170px) {
  .hero {
    margin-left: 90px;
  }
}

@media screen and (max-width: 1023px) {
  .hero {
    margin-left: 99px;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    margin-left: 30px;
  }
}

.hero__place {
  color: #fff;
  max-width: 619px;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
  margin: 0 auto 22px 0;
}

.hero__text {
  max-width: 546px;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0 30px 59px 0;
}

.header__search-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 886px;
}

@media screen and (max-width: 1024px) {
  .header__search-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 350px;
  }
}

.header__search {
  padding-right: 20px;
  display: flex;
  border-bottom: 2px solid #bfc0c5;
}

@media screen and (max-width: 1024px) {
  .header__search {
    padding-right: 0;
    margin-bottom: 40px;
    max-width: 297px;
  }
}

.header__oval {
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-right: 23px;
}

.header__search-text {
  font-weight: 500;
  color: #fff;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 22px;
  margin: 0;
}

.header__btn {
  width: 171px;
  height: 58px;
  background: #1b7dff;
  border: none;
  color: white;
}

.header__btn-text {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.benefit__card {
  margin: 155px 89px 0;
  background: #fff;
  box-shadow: 0 2px 20px rgba(21, 24, 36, 0.15993);
}

@media screen and (max-width: 1024px) {
  .benefit__card {
    box-shadow: none;
    margin: 130px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .benefit__card {
    margin: 50px 0 0;
  }
}


.benefits__text {
  padding: 93px 0 120px 99px;
  color: #102746;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  line-height: 42px;
  font-family: "Inter", sans-serif;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .benefits__text {
    padding-left: 30px;
    padding-bottom: 90px;
  }
}

.benefit__img {
  height: 60px;
  padding-bottom: 37px;
}

.benefit__item {
  width: 100%;
}

.benefit__text {
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.benefit__paragraph {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 26px 0 39px;
}

.benefit__link {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #006dfe;
}

.benefit__link:hover {
  color: #000;
}

.benefit__span {
  padding-left: 26px;
}

.benefit__cards {
  display: grid;
  column-gap: 55px;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 100px 112px;
}

@media screen and (max-width: 1024px) {
  .benefit__cards {
    padding: 0 100px 0;
  }
}

@media screen and (max-width: 768px) {
  .benefit__cards {
    padding-left: 30px;
    padding-right: 30px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 55px;
  }
}

.inspired {
  margin: 0 90px 131px 90px;
}

@media screen and (max-width: 768px) {
  .inspired {
    margin: 0 30px 131px 30px;
  }
}

.inspired__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 131px 0 46px;
}

@media screen and (max-width: 768px) {
  .inspired__about {
    flex-direction: column;
    align-items: flex-start;
  }
}


.inspired__info {
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
  line-height: 42px;
  font-family: "Inter", sans-serif;
  padding-bottom: 7px;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 978px) {
  .inspired__info {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
  }
}

.inspired__info::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

.inspired__link {
  max-width: 131px;
}

@media screen and (max-width: 768px) {
  .inspired__link {
    padding-top: 15px;
  }
}


.inspired__photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 978px) {
  .inspired__photos {
    grid-template-columns: repeat(1, 1fr);
  }
}

.inspired__photos_small {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 978px) {
  .inspired__photos_small {
    grid-template-columns: repeat(1, 1fr);
  }
}

.inspired__container {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  cursor: pointer;
}

.inspired__container:hover .inspired__photo {
  transform: scale(1.02);
}

.inspired__container::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.inspired__photo {
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.3s ease-in;
}

.inspired__text {
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
  position: absolute;
  color: white;
  margin: 0 0 27px 29px;
  font-family: "Inter", sans-serif;
  z-index: 3;
}

@media screen and (max-width: 1170px) {
  .inspired__text {
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .inspired__text {
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 15px 20px;
  }
}

.prefecture {
  margin: 0 85px 139px 85px;
}

@media screen and (max-width: 768px) {
  .prefecture {
    margin: 0 30px 139px 30px;
  }
}

.prefecture__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 77px;
}

@media screen and (max-width: 1024px) {
  .prefecture__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.prefecture__img {
  object-fit: cover;
  width: 100%;
  max-width: 600px;
}

@media screen and (max-width: 1024px) {
  .prefecture__img {
    max-width: none;
    padding-bottom: 50px;
  }
}

.prefecture__about {
  display: flex;
  flex-direction: column;
  padding-left: 108px;
}

@media screen and (max-width: 1024px) {
  .prefecture__about {
    padding-left: 0;
  }
}

.prefecture__info {
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  line-height: 40px;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 26px 0 48px;
}

@media screen and (max-width: 1024px) {
  .prefecture__info {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.prefecture__title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding-bottom: 58px;
}

@media screen and (max-width: 1024px) {
  .prefecture__title {
    padding: 0 108px 58px 0;
  }
}

@media screen and (max-width: 768px) {
  .prefecture__title {
    padding-right: 0;
  }
}


.prefecture__link {
  max-width: 203px;
}

.feature__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1024px) {
  .feature__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.feature__about {
  display: flex;
  flex-direction: column;
  max-width: 597px;
}

@media screen and (max-width: 1024px) {
  .feature__about {
    grid-row: 2;
    max-width: none;
  }
}

.feature__info {
  max-width: 357px;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  line-height: 40px;
  padding: 26px 0 45px 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .feature__info {
    padding-top: 0;
    padding-bottom: 10px;
  }
}

.feature__title {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0 108px 58px 0;
}

@media screen and (max-width: 1024px) {
  .feature__title {
    padding: 0 108px 58px 0;
  }
}

@media screen and (max-width: 768px) {
  .feature__title {
    padding-right: 0;
  }
}


.feature__img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .feature__img {
    margin-bottom: 50px;
  }
}

.feature__link {
  max-width: 239px;
}

.places {
  margin: 0 80px 144px;
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 30px 144px;
  }
}

@media screen and (max-width: 500px) {
  .places {
    margin-bottom: 80px;
  }
}


.places__title {
  margin: 0 0 54px;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

@media screen and (max-width: 1024px) {
  .places__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .places__cards {
    grid-gap: 30px;
  }
}

@media screen and (max-width: 500px) {
  .places__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}


.places__card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.places__container {
  position: relative;
  overflow: hidden;
}

.places__container:hover .places__img {
  transform: scale(1.02);
}

.places__img {
  float: left;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.places__wrapper {
  position: absolute;
  bottom: 0;
  color: #fff;
  background: rgba(21, 24, 36, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.places__text {
  margin: 0;
  padding: 16px 0 16px 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.places__like {
  background-image: url(./images/Heart.svg);
  filter: invert(100%);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  padding: 0 25px;
}

.places__like:hover {
  cursor: pointer;
  opacity: 0.6;
}

.places__info {
  display: flex;
  flex-direction: column;
}

.places__about {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 45px 0 31px 0;
}

@media screen and (max-width: 768px) {
  .places__about {
    margin: 10px 0;
  }
}

.places__btn {
  width: 118px;
  height: 42px;
  background: #006dfe;
  border: none;
  color: white;
}

@media screen and (max-width: 768px) {
  .places__btn {
    margin-bottom: 30px;
  }
}

.places__btn:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.8s ease-in-out;
}

.places__btn-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0;
}

.videos {
  width: 100%;
}

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #0e1d28;
}

.footer__wrapper {
  display: flex;
}

@media screen and (max-width: 768px) {
  .footer__wrapper {
    margin-top: 50px;
  }
}


.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 120px 170px;
  margin: 0;
  align-items: flex-start;
}

@media screen and (max-width: 1170px) {
  .footer__container {
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media screen and (max-width: 678px) {
  .footer__container {
    flex-direction: column;
  }
}


@media screen and (max-width: 970px) {
  .footer__container {
    padding: 80px 30px;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  margin-right: 140px;
}

@media screen and (max-width: 768px) {
  .footer__nav {
    margin-right: 50px;
  }
}

.footer__nav:last-child {
  margin-right: 0;
}

.footer__text {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 3px;
}

@media screen and (max-width: 500px) {
  .footer__text {
    font-style: 15px;
    line-height: 20px;
  }
}


.footer__text:hover {
  opacity: 0.6;
}

.footer__link {
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  .footer__logo {
    width: 25%;
  }
}
